In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import os
import pandas_profiling as pp
import seaborn as sns

In [2]:
# load data
dataset = pd.read_csv('candy-data.csv')

# checkout what the content is and description

print("list the first 5 rows")
print(dataset.head())

list the first 5 rows
  competitorname  chocolate  fruity  caramel  peanutyalmondy  nougat  \
0      100 Grand          1       0        1               0       0
1   3 Musketeers          1       0        0               0       1
2       One dime          0       0        0               0       0
3    One quarter          0       0        0               0       0
4      Air Heads          0       1        0               0       0

   crispedricewafer  hard  bar  pluribus  sugarpercent  pricepercent  \
0                 1     0    1         0         0.732         0.860
1                 0     0    1         0         0.604         0.511
2                 0     0    0         0         0.011         0.116
3                 0     0    0         0         0.011         0.511
4                 0     0    0         0         0.906         0.511

   winpercent
0   66.971725
1   67.602936
2   32.261086
3   46.116505
4   52.341465

In [3]:

print("list the last 5 rows")
print(dataset.tail())

list the last 5 rows
                competitorname  chocolate  fruity  caramel  peanutyalmondy  \
80                   Twizzlers          0       1        0               0
81                    Warheads          0       1        0               0
82        WelchÕs Fruit Snacks          0       1        0               0
83  WertherÕs Original Caramel          0       0        1               0
84                    Whoppers          1       0        0               0

    nougat  crispedricewafer  hard  bar  pluribus  sugarpercent  pricepercent  \
80       0                 0     0    0         0         0.220         0.116
81       0                 0     1    0         0         0.093         0.116
82       0                 0     0    0         1         0.313         0.313
83       0                 0     1    0         0         0.186         0.267
84       0                 1     0    0         1         0.872         0.848

    winpercent
80   45.466282
81   39.011898
82   44.375519
83   41.904308
84   49.524113

In [4]:
#generates an analysis report on the data frame, and helps you better understand the correlation between variables.
#profile = pp.ProfileReport(dataset)
#profile.to_file("output2.html")


print("columns",dataset.columns)
print("*********")
print("shape:",dataset.shape)
print("*********")
print("Size:",dataset.size)
print("*********")







#print(df.sample(5)) #pops up 5 random rows from the data set 
#print(df.isnull().sum()) #checks out how many null info are on the dataset

columns Index(['competitorname', 'chocolate', 'fruity', 'caramel', 'peanutyalmondy',
       'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent',
       'pricepercent', 'winpercent'],
      dtype='object')
*********
shape: (85, 13)
*********
Size: 1105
*********

In [5]:
print("print the list of competitor names") 
#print(dataset["competitorname"].tolist())
dataset

print the list of competitor names

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [6]:
list(dataset.columns)

['competitorname',
 'chocolate',
 'fruity',
 'caramel',
 'peanutyalmondy',
 'nougat',
 'crispedricewafer',
 'hard',
 'bar',
 'pluribus',
 'sugarpercent',
 'pricepercent',
 'winpercent']

In [7]:
print(dataset.describe()) #to give a statistical summary about the dataset

       chocolate     fruity    caramel  peanutyalmondy     nougat  \
count  85.000000  85.000000  85.000000       85.000000  85.000000
mean    0.435294   0.447059   0.164706        0.164706   0.082353
std     0.498738   0.500140   0.373116        0.373116   0.276533
min     0.000000   0.000000   0.000000        0.000000   0.000000
25%     0.000000   0.000000   0.000000        0.000000   0.000000
50%     0.000000   0.000000   0.000000        0.000000   0.000000
75%     1.000000   1.000000   0.000000        0.000000   0.000000
max     1.000000   1.000000   1.000000        1.000000   1.000000

       crispedricewafer       hard        bar   pluribus  sugarpercent  \
count         85.000000  85.000000  85.000000  85.000000     85.000000
mean           0.082353   0.176471   0.247059   0.517647      0.478647
std            0.276533   0.383482   0.433861   0.502654      0.282778
min            0.000000   0.000000   0.000000   0.000000      0.011000
25%            0.000000   0.000000   0.000000   0.000000      0.220000
50%            0.000000   0.000000   0.000000   1.000000      0.465000
75%            0.000000   0.000000   0.000000   1.000000      0.732000
max            1.000000   1.000000   1.000000   1.000000      0.988000

       pricepercent  winpercent
count     85.000000   85.000000
mean       0.468882   50.316764
std        0.285740   14.714357
min        0.011000   22.445341
25%        0.255000   39.141056
50%        0.465000   47.829754
75%        0.651000   59.863998
max        0.976000   84.180290

In [8]:
competitorName_df = pd.DataFrame(data={"competitorname"})
index = competitorName_df.index
cn_list = list(index)
print(cn_list)

[0]

In [9]:
dataset.rank().head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,1.0,67.0,24.0,78.5,36.0,39.5,82.0,35.5,75.0,21.0,66.5,75.5,72.0
1,2.0,67.0,24.0,36.0,36.0,82.0,39.5,35.5,75.0,21.0,56.5,49.5,74.0
2,45.0,24.5,24.0,36.0,36.0,39.5,39.5,35.5,32.5,21.0,1.5,14.0,8.0
3,46.0,24.5,24.0,36.0,36.0,39.5,39.5,35.5,32.5,21.0,1.5,49.5,38.0
4,3.0,24.5,66.5,36.0,36.0,39.5,39.5,35.5,32.5,21.0,79.0,49.5,49.0

In [10]:
# top 10 best performing candy (according to reported winpercent)
dataset.sort_values('winpercent', ascending = False)[0:10]

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
52,ReeseÕs Peanut Butter cup,1,0,0,1,0,0,0,0,0,0.720,0.651,84.180290
51,ReeseÕs Miniatures,1,0,0,1,0,0,0,0,0,0.034,0.279,81.866257
79,Twix,1,0,1,0,0,1,0,1,0,0.546,0.906,81.642914
28,Kit Kat,1,0,0,0,0,1,0,1,0,0.313,0.511,76.768600
64,Snickers,1,0,1,1,1,0,0,1,0,0.546,0.651,76.673782
53,ReeseÕs pieces,1,0,0,1,0,0,0,0,1,0.406,0.651,73.434990
36,Milky Way,1,0,1,0,1,0,0,1,0,0.604,0.651,73.099556
54,ReeseÕs stuffed with pieces,1,0,0,1,0,0,0,0,0,0.988,0.651,72.887901
32,Peanut butter M&MÕs,1,0,0,1,0,0,0,0,1,0.825,0.651,71.465050
42,Nestle Butterfinger,1,0,0,1,0,0,0,1,0,0.604,0.767,70.735641

In [11]:
# top 10 least performing candy (according to reported winpercent)
dataset.sort_values('winpercent', ascending = True)[0:10]

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
44,Nik L Nip,0,1,0,0,0,0,0,0,1,0.197,0.976,22.445341
7,Boston Baked Beans,0,0,0,1,0,0,0,0,1,0.313,0.511,23.417824
12,Chiclets,0,1,0,0,0,0,0,0,1,0.046,0.325,24.524988
72,Super Bubble,0,1,0,0,0,0,0,0,0,0.162,0.116,27.303865
26,Jawbusters,0,1,0,0,0,0,1,0,1,0.093,0.511,28.127439
57,Root Beer Barrels,0,0,0,0,0,0,1,0,1,0.732,0.069,29.703691
71,Sugar Daddy,0,0,1,0,0,0,0,0,0,0.418,0.325,32.230995
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
70,Sugar Babies,0,0,1,0,0,0,0,0,1,0.965,0.767,33.437550
19,Haribo Happy Cola,0,0,0,0,0,0,0,0,1,0.465,0.465,34.158958

In [15]:
import tkinter

sorted_df =  dataset.sort_values(by="winpercent", ascending=False)

plt.figure(figsize=(20,15))
sns.color_palette("RdPu", 10)

sns.barplot(y=sorted_df["competitorname"], x=sorted_df["winpercent"], palette="icefire")

plt.title('normalized winpercent ranking')
plt.show()
plt.savefig("plot2.png")

<ipython-input-15-90269599fa2d>:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [13]:
# drop from dataset, save competitorname in a list for later uses
candy_names = dataset['competitorname']
dataset.drop(['competitorname'],axis=1, inplace=True)
# display dataset to verify competitorname is no longer in it
dataset

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...
80,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [14]:
candy_names

0                      100 Grand
1                   3 Musketeers
2                       One dime
3                    One quarter
4                      Air Heads
                 ...
80                     Twizzlers
81                      Warheads
82          WelchÕs Fruit Snacks
83    WertherÕs Original Caramel
84                      Whoppers
Name: competitorname, Length: 85, dtype: object

In [10]:
# use seaborn for heatmap of correlation
plt.figure(figsize=(20,15))
matrix = dataset.corr().round(2)
sns.heatmap(matrix, annot=True, vmin= -1, vmax= 1, center=0, cmap='Greens')
plt.show()
plt.savefig("heatmap.png")

<ipython-input-10-9028373ed291>:5: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [16]:
# select strong correlations

matrix = dataset.corr()
matrix = matrix.unstack()
matrix = matrix[abs(matrix) >= 0.7]

matrix

chocolate         chocolate           1.000000
                  fruity             -0.741721
fruity            chocolate          -0.741721
                  fruity              1.000000
caramel           caramel             1.000000
peanutyalmondy    peanutyalmondy      1.000000
nougat            nougat              1.000000
crispedricewafer  crispedricewafer    1.000000
hard              hard                1.000000
bar               bar                 1.000000
pluribus          pluribus            1.000000
sugarpercent      sugarpercent        1.000000
pricepercent      pricepercent        1.000000
winpercent        winpercent          1.000000
dtype: float64

In [17]:
# select positive correlations

matrix = dataset.corr()
matrix = matrix.unstack()
matrix = matrix[matrix > 0]

matrix

chocolate   chocolate           1.000000
            caramel             0.249875
            peanutyalmondy      0.377824
            nougat              0.254892
            crispedricewafer    0.341210
                                  ...
winpercent  crispedricewafer    0.324680
            bar                 0.429929
            sugarpercent        0.229151
            pricepercent        0.345325
            winpercent          1.000000
Length: 90, dtype: float64

In [13]:
# select negative correlations

matrix = dataset.corr()
matrix = matrix.unstack()
matrix = matrix[matrix < 0]

matrix

chocolate         fruity             -0.741721
                  hard               -0.344177
                  pluribus           -0.339675
fruity            chocolate          -0.741721
                  caramel            -0.335485
                  peanutyalmondy     -0.399280
                  nougat             -0.269367
                  crispedricewafer   -0.269367
                  bar                -0.515066
                  sugarpercent       -0.034393
                  pricepercent       -0.430969
                  winpercent         -0.380938
caramel           fruity             -0.335485
                  hard               -0.122355
                  pluribus           -0.269585
peanutyalmondy    fruity             -0.399280
                  crispedricewafer   -0.017646
                  hard               -0.205557
                  pluribus           -0.206109
nougat            fruity             -0.269367
                  crispedricewafer   -0.089744
                  hard               -0.138675
                  pluribus           -0.310339
crispedricewafer  fruity             -0.269367
                  peanutyalmondy     -0.017646
                  nougat             -0.089744
                  hard               -0.138675
                  pluribus           -0.224693
hard              chocolate          -0.344177
                  caramel            -0.122355
                  peanutyalmondy     -0.205557
                  nougat             -0.138675
                  crispedricewafer   -0.138675
                  bar                -0.265165
                  pricepercent       -0.244365
                  winpercent         -0.310382
bar               fruity             -0.515066
                  hard               -0.265165
                  pluribus           -0.593409
pluribus          chocolate          -0.339675
                  caramel            -0.269585
                  peanutyalmondy     -0.206109
                  nougat             -0.310339
                  crispedricewafer   -0.224693
                  bar                -0.593409
                  pricepercent       -0.220794
                  winpercent         -0.247448
sugarpercent      fruity             -0.034393
pricepercent      fruity             -0.430969
                  hard               -0.244365
                  pluribus           -0.220794
winpercent        fruity             -0.380938
                  hard               -0.310382
                  pluribus           -0.247448
dtype: float64

In [18]:
# list correlations in descending order

matrix = dataset.corr()
#matrix = matrix.abs().unstack()
matrix = matrix.unstack()
matrix.sort_values(ascending = False)

matrix

chocolate   chocolate         1.000000
            fruity           -0.741721
            caramel           0.249875
            peanutyalmondy    0.377824
            nougat            0.254892
                                ...
winpercent  bar               0.429929
            pluribus         -0.247448
            sugarpercent      0.229151
            pricepercent      0.345325
            winpercent        1.000000
Length: 144, dtype: float64

In [19]:
# list correlations in descending order



matrix["chocolate"]

chocolate           1.000000
fruity             -0.741721
caramel             0.249875
peanutyalmondy      0.377824
nougat              0.254892
crispedricewafer    0.341210
hard               -0.344177
bar                 0.597421
pluribus           -0.339675
sugarpercent        0.104169
pricepercent        0.504675
winpercent          0.636517
dtype: float64

In [21]:
# re-add dropped column

column_values = pd.Series(candy_names)

In [22]:
column_values

0                      100 Grand
1                   3 Musketeers
2                       One dime
3                    One quarter
4                      Air Heads
                 ...
80                     Twizzlers
81                      Warheads
82          WelchÕs Fruit Snacks
83    WertherÕs Original Caramel
84                      Whoppers
Name: competitorname, Length: 85, dtype: object

In [23]:
dataset.insert(loc=0, column='competitorname', value=column_values)
dataset

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [24]:
#matrix = dataset.corr()['winpercent']
#matrix = matrix.sort_values(ascending = False)

matrix = dataset.corr()

matrix = matrix.sort_values(by='winpercent', ascending=False)['winpercent']
matrix

winpercent          1.000000
chocolate           0.636517
bar                 0.429929
peanutyalmondy      0.406192
pricepercent        0.345325
crispedricewafer    0.324680
sugarpercent        0.229151
caramel             0.213416
nougat              0.199375
pluribus           -0.247448
hard               -0.310382
fruity             -0.380938
Name: winpercent, dtype: float64